

.upper_bar {
    width: 975px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: auto;
    box-sizing: border-box;

}

#insta_logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    width: 300px;

}

#insta_logo > a {
}

#insta_logo > a > img {
    height: 29px;
    position: relative;
}

#search_bar {
    flex-basis: 268px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    width: 300px;

}

nav > div {
    width: 278px;
    height: 24px;
    display: flex;
    justify-content: space-between;

}

.nav_icons {
    width: 24px;
    height: 24px;

}

#profile_small {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.profile_medium {
        border-radius: 50%;
    width: 32px;
    height: 32px;

}

.profile_id {
    margin-left: 14px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
}
.profile_id div {
    text-align: left;

}

main {
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    display: flex;
    width: 100%;
    margin-top: 60px;
}


.main_container {
    display: flex;
    width: 100%;
    /*margin-top: 60px;*/
    padding: 30px;

}

.card {
    max-width: 614px;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
border: 1px solid #dbdbdb;
}

.carousel-img {
    height: 614px;
    width:  614px;
    flex-basis: 614px;
    flex-shrink: 1;

}

.carousel-item {
    /*align-items: stretch;*/
    /*display: flex;*/
}

.post_area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*flex-flow: row nowrap;*/
vertical-align: baseline;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    align-items: stretch;
    float: left;
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
}
.main_container>section {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    vertical-align: baseline;
    flex-shrink: 0;
    align-items: stretch;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 935px;
    border: 2px solid orange;
    box-sizing: border-box;
    padding: 0;
}


@media (min-width: 640px){
.main_container>section {
    padding-top: 30px;
}
}

footer {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    margin: 0;
    top: 100px;
    right: 0;
    width: 100%;
    max-width: 293px;
    height: 100vh;
    margin-bottom: 30px;
    position: fixed;
    /*left: 744px;*/
    /*position: sticky;*/
    box-sizing: border-box;
    left: 54%;
    transform: translateX(43%);
    /*top: calc(34px + var(--desktop-nav-height));*/
    padding-top: 20px;
    border: 1px solid plum;

}

header {
    text-align: center;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color:  lightskyblue;
    border-bottom: 1px solid gray;
    align-items: center;
    top: 0;

}

.card_tltle {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    display: flex;
    position: relative;
}

.card_tltle header {
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 48px);
    padding: 14px 4px 14px 16px;
    display: flex;
    position: relative;

}

.profile_menu {
    justify-content: center;
    padding-right: 8px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    vertical-align: baseline;
}
.profile_menu div {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}
.card_tltle header>div {
    display: block;
    height: fit-content;
    width: fit-content;
    align-items: stretch;
    box-sizing: border-box;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
}

.card-body {
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    box-sizing: border-box;
    position: relative;
    vertical-align: baseline;
}

.card-body>div {
    min-width: 335px;
    width: 100%;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    vertical-align: baseline;
}

.like_icon_section {
    padding-left: 16px;
    padding-right: 16px;
    /*margin-top: -34px;*/
    padding-bottom: 8px;
    padding-top: 6px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    position: relative;
    vertical-align: baseline;
}

.like_text {
padding-left: 16px;
    padding-right: 16px;
        flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 8px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    position: relative;
    vertical-align: baseline;
}

.post_text_reply {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    align-items: stretch;
    box-sizing: border-box;
    display: inline-block!important;
    /*flex-direction: column;*/
    position: relative;
    vertical-align: baseline;
}

.reply_input {
        padding-left: 16px;
    padding-right: 16px;
    flex-shrink: 0;
    font-size: 14px;
    justify-content: center;
    line-height: 18px;
        padding-bottom: 6px;
    padding-top: 6px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    vertical-align: baseline;
    pointer-events: auto;


}

#like_icon {
    display: inline-block;
    margin-left: -8px;
    vertical-align: baseline;
    pointer-events: auto;
    width: 40px;
    height: 40px;
}


#reply_icon {
        display: inline-block;
    vertical-align: baseline;
    pointer-events: auto;
        width: 40px;
    height: 40px;

}

.icon_button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    pointer-events: auto;

}

#dm_icon {
    display: inline-block;
    vertical-align: baseline;
    pointer-events: auto;
        width: 40px;
    height: 40px;

}

#tag_icon {
    margin-left: auto;
    margin-right: -10px;
    display: inline-block;
    vertical-align: baseline;
    pointer-events: auto;
        width: 40px;
    height: 40px;

}
#tag_icon div {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    vertical-align: baseline;
    pointer-events: auto;
}

.like_text {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: flex-start;
    margin-bottom: 8px;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    position: relative;
    vertical-align: baseline;
    pointer-events: auto;
}

.like_text>div {
    min-height: 0;
    min-width: 0;
        justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    position: relative;
    vertical-align: baseline;
    pointer-events: auto;

}

.like_text>div>div {
    margin: auto;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
position: relative;
        vertical-align: baseline;
    pointer-events: auto;
}

.like_text>div>div>div {
    display: inline!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
position: relative;

}

.post_text_reply_inner {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block!important;
}

.id_id {
    font-weight: 600;
}

.see_more {
    color: rgba(var(--f52,142,142,142),1);
}

.reply_input {
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
border-top: 1px solid #dbdbdb;
flex-direction: row;
    border: 3px solid orange;

}

#smile_icon {
border: 3px solid red;

}

.reply_textarea {
    resize: none;
    border: 3px solid blue;

}

#post_button {
    display: block;
    color: rgba(var(--d69,0,149,246),1);
    opacity: .3;
    pointer-events: none;
    appearance: none;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;
    user-select: none;
    width: auto;
border: 3px solid black;


}
